@{
    ViewBag.Title = "Dashboard";
}

@section Scripts {
    <script>
        $(function () {
            $('#HomeCalendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,basicWeek,listMonth'
                },
                defaultDate: '@DateTime.UtcNow.ToString("yyyy-MM-dd")',
                navLinks: true,
                editable: true,
                eventLimit: true,
                eventSources: [
                    {
                        url: '@Url.Action("calendar")',
                        color: '#a94442'
                    }
                ]
            });
        });
    </script>
}

<h3>@ViewBag.Title</h3>

<hr />
<br />

<div id="HomeCalendar"></div>