@model string

<div class="modal fade" tabindex="-1" role="dialog" id="@ViewBag.ElementId">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">@Model</h4>
            </div>
            <div class="modal-body">
                <p class="text-center">
                    <i class="fa fa-2x fa-refresh fa-spin"></i>
                </p>
            </div>
        </div>
    </div>
</div>